{% extends 'base.html' %}

{% block content %}

<td>
    <h2>Type de clés de répartition:</h2>
    <select name="cles" id="cle">
        <option value="">--Choisir le type de clés de répartition--</option>
        <option value="static">Statique</option>
        <option value="dynamic">Dynamique</option>
        <option value="progressive">Progressive</option>
    </select>
</td>

<h2>Ajout de consommateur</h2>
<form action="{{ url_for('add_consumer_block') }}" method="POST">
    <div class="form-group">
        <input type="text" name="cons_name" id="cons_name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter consommateur</button>
</form>

<h2>Ajout de producteur</h2>
<form action="{{ url_for('add_producer_block') }}" method="POST">
    <div class="form-group">
        <input type="text" name="prod_name" id="prod_name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter producteur</button>
</form>

<h2>Tableau de répartition</h2>
{% if consumer_blocks|length > 0 %}
<table>
    <tbody>
        <tr>
            <td></td>
            {% for producer_block in producer_blocks %}
            <td>{{ producer_block.prod_name }}
                <form method="POST" action="{{ url_for('upload_producer_file') }}" enctype="multipart/form-data">
                    <input type="file" name="file" id="file_producer" required>
                    <button type="submit">Charger</button>
                </form>
                <a href="/update_producer/{{ producer_block.id }}" class="btn">Editer</a>
                <a href="/delete_producer/{{ producer_block.id }}" class="btn btn-danger">Supprimer</a>
            </td>
            {% endfor %}
        </tr>

        {% for consumer_block in consumer_blocks %}
        <tr>
            <td>
                {{ consumer_block.cons_name }}
                <form method="POST" action="{{ url_for('upload_consumer_file') }}" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" required>
                    <button type="submit">Charger</button>
                </form>
                <a href="/update_consumer/{{ consumer_block.id }}" class="btn">Editer</a>
                <a href="/delete_consumer/{{ consumer_block.id }}" class="btn btn-danger">Supprimer</a>
            </td>
            {% for producer_block in producer_blocks %}
            <td>
                Priorité:
                <div title="prio" class="text-content" contenteditable="true">
                    {{ consumer_block.priority }}
                </div>
                Ratio:
                <div class="text-content" contenteditable="true">
                    {{ consumer_block.ratio }}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}