<!-- templates/privacy_policy.html -->
{% extends "base.html" %}
{% block content %}
<h1>Politique de Confidentialité</h1>
<p>
    Nous utilisons des cookies pour améliorer votre expérience sur notre site.
    Les cookies nous aident à personnaliser le contenu et les annonces, à fournir des fonctionnalités relatives aux médias sociaux et à analyser notre trafic.
    Nous partageons également des informations sur l'utilisation de notre site avec nos partenaires de publicité et d'analyse.
</p>
{% endblock %}