{% extends 'base.html' %}

{% block content %}
<h1>Mise à jour consommateur</h1>

<form action="/update_consumer/{{ consumer_block.id }}" method="POST">
    <div class="form-group">
        <label for="cons_name">Nom du consommateur</label>
        <input type="text" name="cons_name" id="cons_name" class="form-control" value="{{ consumer_block.cons_name }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/" class="btn">Cancel</a>
</form>
{% endblock %}